body {
  background-color: #16141c !important;
  overflow-x: hidden;
  color: #fff !important;

  #root {
    display: flex;
    flex-direction: row;
  }

  .content {
    width: 100%;
    padding-bottom: 25px;
    min-height: 100%;
    margin-top: 55px;
  }
}

