header {
  background-color: #1f1d25;
  height: 55px;
  display: flex;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 0 50px #0000003b;
  border-bottom: 1px solid #211f24;
  position: fixed;
  left: 0;
  right: 0;

  * > a {
    text-decoration: none;
  }

  .body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    height: 100%;

    .menu {
      display: flex;


      .dashboard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        cursor: pointer;
        user-select: none;

        > p {
          margin: 0 0 0 8px;
          font-weight: 400;
          color: #73727a;
          font-size: 14px;
        }

        > img {
          width: 18px;
          height: 18px;
        }
      }

      .logo {

        > a, p {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          user-select: none;
          text-decoration: none;

          > img {
            width: 30px;
            height: 30px;
          }

          > p {
            color: #fff;
            margin: 0 0 0 8px;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }


    .account {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;

      > img {
        width: 23px;
        height: 23px;
        user-select: none;
      }

      > p {
        margin: 0 8px 0 0;
        font-weight: 400;
        color: #73727a;
        font-size: 15px;
      }
    }
  }
}